:root {
    --f5: 14.6px;
    --f4: 18px;
    --f3: 25px;
    --f2: 33.28px;
    --f1: 33.33px;
    --text-color: white;
    --color1: #29a19c;
    --color2: #222831;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Montserrat';
    font-size: var(--f4);
    color: var(--text-color);
    background-color: #111111;
}

main {
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background-color: var(--color2);
}

.bord-standart {
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background-color: var(--color2);
}

.header-bor {
    padding: 43px 0px 30px 0px;
}

.header-button {
    margin-right: 44px;
    font-size: var(--f3);
    font-family: 'Montserrat';
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--text-color);
    display: inline-block;
}

.header-logo {
    height: 52.5px;
    margin-right: 56px;
    margin-top: -1px;
}

.navbar {
    margin-left: 53px;
}

.background-img {
    margin-top: 26px;
    margin-left: 45px;
    position: absolute;
    display: flex;
    z-index: 1;
}

.home-bor {
    margin-bottom: 38px;
    padding: 20px 53px 0px 53px;
    background-color: var(--color2);
}

.home-content {
    margin-left: 3px;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

.home-title {
    margin-top: 7px;
    margin-left: -7px;
    font-weight: 100;
    font-family: 'GrandHotel';
    font-size: 153.15px;
    letter-spacing: 6.126px;
}

.home-post-title {
    margin: 11px 0px 0px 0px;
    font-size: var(--f2);
    font-family: 'Montserrat';
    font-weight: bold;
    letter-spacing: 1.9968px;
    line-height: 70px;
}

.home-text {
    width: 510px;
    margin-top: -1px;
    margin-bottom: 22px;
    margin-left: 3px;
    font-size: var(--f5);
    font-family: 'Montserrat2';
    letter-spacing: 0.876px;
    line-height: 24px;
}

.order-button {
    height: 58px;
    width: 248px;
    padding: 7px 30px;
    border-radius: 15px;
    font-size: var(--f1);
    font-weight: bold;
    letter-spacing: 1.5px;
    position: relative;
    display: inline-block;
    color: var(--text-color);
    z-index: 2;
    border: none;
}

.order-green {
    background-color: var(--color1);
    --text-color: white;
}

.home-img {
    top: 10px;
    right: 0px;
    margin-top: 7px;
    position: absolute;
    z-index: 0;
}

.background-wave {
    position: relative;
}

.menu-black {
    margin-top: -35px;
    padding: 38px 86px 20px 100px;
    margin-bottom: -13px;
    position: relative;
    background-color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-black-order {
    width: 450px;
    margin-top: -34px;
    margin-left: 35px;
}

.menu-black-title {
    margin-top: -50px;
    margin-bottom: 92px;
    font-size: 125px;
    font-weight: normal;
    font-family: 'GrandHotel';
    letter-spacing: 5px;
    line-height: 114px;
}

.menu-black-text {
    width: 625px;
    margin-top: 35px;
    margin-right: -5px;
    font-family: 'Montserrat2';
    font-weight: 100;
    font-size: 23.67px;
    letter-spacing: 1.4202px;
    line-height: 39.24px;
    text-align: right;
    opacity: 95%;
}

.menu-black-info {
    margin-bottom: -47px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.menu-black-img {
    margin-top: 24px;
}

.pos-center2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-hot {
    padding: 0px 98px 0px 50px;
    margin: -28px 0px 53px 0px;
}

.menu-hot-info {
    margin-left: 23px;
}

.menu-hot-img {
    margin-top: -15px;
}

.menu-hot-text {
    width: 610px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Montserrat2';
    font-weight: 100;
    font-size: 22.77px;
    line-height: 41.21px;
    letter-spacing: 1.3602px;
    text-align: left;
    opacity: 0.95;
}

.menu-hot-order {
    margin-top: -14px;
    margin-right: 8px;
    width: 400px;
    display: flex;
    align-items: end;
    flex-direction: column;
}


.menu-hot-title {
    margin-top: -5px;
    margin-bottom: 100px;
    margin-right: 8px;
    font-size: 125px;
    font-weight: normal;
    font-family: 'GrandHotel';
    line-height: 114px;
    letter-spacing: 5px;
    text-align: right;
}

.menu-white-order {
    width: 400px;
    margin-top: 10px;
    margin-left: 0px;
}

.menu-white-title {
    margin-bottom: 55px;
    font-size: 125px;
    font-weight: normal;
    font-family: 'GrandHotel';
    line-height: 112.71px;
    letter-spacing: 5px;
    text-align: left;
    margin-top: -60px;
    margin-left: 20px;
}

.menu-white-info {
    margin-top: 10px;
    margin-left: -45px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.menu-white-order .order-button {
    margin-top: 35px;
    margin-left: 19px;
    margin-bottom: 41px;
}

.menu-white-text {
    width: 575px;
    margin-top: 40px;
    margin-right: 50px;
    font-size: 21.45px;
    font-family: 'Montserrat2';
    font-weight: normal;
    line-height: 38.82px;
    letter-spacing: 1.287px;
    text-align: right;
}

.menu-white-img {
    margin-top: 0px;
    margin-right: 60px;
}